body {
  max-width: 800px;
  margin: 0 auto;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.4;
  text-align: justify;
  padding: 4vh 6vw;
}

h2 {
  margin-bottom: 0;
}

h3 {
  margin-bottom: 0;
}

ul {
  margin-top: 0;
}

header h1 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

header a {
  text-decoration: none;
  color: black;
}

nav {
  margin-bottom: 1em;
}

nav a {
  padding-right: 0.5em;
}

nav a.flag {
  text-decoration: none;
}

h1 {
  text-align: initial;
}

a {
  color: #07A;
  text-decoration-line: none;
}

a:hover {
  text-decoration-line: underline;
}

.blog table {
  text-align: left;
}

.single .title {
  margin-bottom: 0;
}

.single img {
  max-width: 100%;
  height: auto;
}

.single figcaption h4 {
  text-align: center;
  margin-top: 0;
  font-weight: normal;
  font-style: italic;
}

#TableOfContents {
  margin-top: 1em;
}

#TableOfContents ul {
  list-style-type: none;
  padding-left: 1em;
}

#TableOfContents li {
  padding-left: 0;
}
